.div-card {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    border: 1px solid var(--input);
    border-radius: var(--br);
}

.showcase {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--pale-mauve);
    border-radius: var(--br);
    overflow: hidden;
    flex-basis: calc(100%/4 - 40px);
    justify-content: space-between;
}

.showcase>header {
    background-color: var(--pale-mauve);
    padding: 10px;
    font-size: clamp(0.875rem, 3vw, 1rem);
}

.showcase>header>p {
    color: var(--deep-navy);
    font-size: var(--h5);
    font-weight: 600;
}


.showcase>main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 20px;
    height: auto;
}