.div-card {
    display: flex;
    gap: 10px;
}

.card {
    border: 1px solid var(--input);
    border-radius: var(--br);
}

.showcase {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--pale-mauve);
    border-radius: var(--br);
    overflow: hidden;
}

.showcase>header {
    background-color: var(--pale-mauve);
    padding: 10px;
}


.showcase>main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 20px;
}