.div-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.card {
    border: 1px solid var(--border);
    border-radius: var(--br);
    transition: box-shadow 150ms ease;
}

.card:hover {
    box-shadow: 0 0 0 1px var(--border-active);
}

.showcase {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--pale-mauve);
    border-radius: var(--br);
    overflow: hidden;
    flex-basis: 20%;
}

.showcase>header {
    background-color: var(--pale-mauve);
    padding: 10px;
    font-size: clamp(0.875rem, 3vw, 1rem);
    color: black;
}


.card>main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 20px;
}