code {
    border-radius: var(--br);
    font-family: 'Myna', monospace;
    font-size: 14px !important;
    line-height: 1.2;
}

@media (max-width: 768px) {
    code {
        font-size: 12px !important;
    }
}

.code-block>pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}

code>span {
    font-family: Myna, monospace;
}

@font-face {
    font-family: 'Myna';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}