h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

p {
    font-size: var(--p);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--text-color);
}

h2.title {
    margin-bottom: 40px;
}

h3.title {
    margin-bottom: 30px;
}

h1.placeholder,
h2.placeholder,
h3.placeholder,
h4.placeholder,
h5.placeholder,
h6.placeholder,
p.placeholder {
    width: auto;
    padding: 0;
    color: var(--border) !important;
}

.inline {
    font-family: "Ubuntu Mono", monospace;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 6px;
}

/* код */

code {
    border-radius: var(--br);
    font-family: 'Myna', 'Ubuntu Mono', monospace;
    font-size: 14px !important;
    line-height: 1.2;
}

@media (max-width: 768px) {
    code {
        font-size: 12px !important;
    }
}

.code-block>pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}

code>span {
    font-family: Myna, monospace;
}

@font-face {
    font-family: 'Myna';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*  */