input {
    border-radius: 12px;
    padding: var(--br);
    background-color: var(--input);
    color: var(--text-color);
    border: 2px solid var(--border);
    font-size: clamp(0.875rem, 3vw, 1rem);
    box-sizing: border-box;
    transition: 150ms ease;
}

input:focus {
    outline: none;
    border: 2px solid var(--border-active);
}

input::placeholder {
    color: var(--text-color);
    opacity: 0.4;
}