section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

section.hero {
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.hero>* {
    text-align: initial;
}

.title {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    section>.title {
        text-align: center;

    }
}