section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

section>header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.hero {
    justify-content: center;
    align-items: center;
}

section.hero>* {
    text-align: center;
}

.title {
    margin-bottom: 40px;
}

.placeholder {
    width: 100%;
    padding: 60px;
}

.placeholder>* {
    color: var(--border) !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    section>.title {
        text-align: center;

    }
}