section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

section header:first-of-type {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
}

section.hero {
    justify-content: center;
    align-items: center;
}

section.hero>* {
    text-align: center;
}

section.hero>.card-list {
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    gap: 8px;
}

.placeholder {
    width: 100%;
    padding: 60px;
}

.placeholder>* {
    color: var(--border) !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    section>.title {
        text-align: center;

    }
}