:root {
    --deep-navy: #191520;
    --deep-indigo: #221e2a;
    --soft-purple: #AF99CC;
    --pale-mauve-rgb: 205, 188, 226;
    --pale-mauve: rgba(var(--pale-mauve-rgb), 1);

    --white: #f1f1f1;
    --red: #ee5449;
    --green: #4caf50;

    --main-weight: 1440px;
    --vh: 100dvh;
    --br: 12px;
    --shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);

    --h1: clamp(2rem, 8vw, 4rem);
    --h2: clamp(1.125rem, 5vw, 2rem);
    --h3: clamp(1.125rem, 4.5vw, 1.5rem);
    --h4: clamp(1rem, 4vw, 1.25rem);
    --h5: clamp(0.875rem, 3vw, 1rem);
    --h6: clamp(0.75rem, 2.5vw, 0.875rem);
    --p: clamp(0.875rem, 3vw, 1rem);
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: var(--deep-navy);
        --background: var(--white);
        --border: rgba(var(--pale-mauve-rgb), 0.4);
        --border-active: rgba(var(--pale-mauve-rgb), 1);
        --icon-color: var(--soft-purple);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--white);
        --background: var(--deep-navy);
        --border: var(--deep-indigo);
        --border-active: var(--soft-purple);
        --icon-color: rgba(var(--pale-mauve-rgb), 1);
    }

}

.red {
    background-color: var(--red);
}

.w100 {
    width: 100% !important;
}

.between {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.align-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex>* {
    flex: 1 1 auto;
}