:root {
    --deep-navy: #191520;
    --deep-indigo: #221e2a;
    --soft-purple: #AF99CC;
    --pale-mauve: #CDBCE2;

    --white: #f1f1f1;
    --red: #f44336;
    --green: #4caf50;

    --vh: 100dvh;
    --br: 12px;

    --h1: clamp(2rem, 8vw, 4rem);
    --h2: clamp(1.125rem, 5vw, 2rem);
    --h3: clamp(1.125rem, 4.5vw, 1.5rem);
    --h4: clamp(1rem, 4vw, 1.25rem);
    --h5: clamp(0.875rem, 3vw, 1rem);
    --h6: clamp(0.75rem, 2.5vw, 0.875rem);
    --p: clamp(0.875rem, 3vw, 1rem);
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: var(--deep-navy);
        --background: var(--white);
        --input: var(--white)
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--white);
        --background: var(--deep-navy);
        --input: var(--deep-indigo);
    }
}