:root {
    --deep-navy: #191520;
    --deep-indigo: #221e2a;
    --soft-purple: #AF99CC;
    --pale-mauve-rgb: 205, 188, 226;
    --pale-mauve: rgba(var(--pale-mauve-rgb), 1);

    --white: #f1f1f1;
    --red: #f44336;
    --green: #4caf50;

    --main-weight: 1440px;
    --vh: 100dvh;
    --br: 12px;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: var(--deep-navy);
        --background: var(--white);
        --border: rgba(var(--pale-mauve-rgb), 0.4);
        --border-active: rgba(var(--pale-mauve-rgb), 1);
        --icon-color: var(--soft-purple);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--white);
        --background: var(--deep-navy);
        --border: var(--deep-indigo);
        --border-active: var(--soft-purple);
        --icon-color: rgba(var(--pale-mauve-rgb), 1);
    }

}

.w100 {
    width: 100% !important;
}

.between {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}